[submodule "firmware/lib/libinfinikeys"]
	path = firmware/lib/libinfinikeys
	url = https://github.com/berndoJ/libinfinikeys
[submodule "firmware/lib/libstm32f1hal"]
	path = firmware/lib/libstm32f1hal
	url = https://github.com/berndoJ/libstm32f1hal
